#game-container {
    width: 100%;
    max-width: 1366px;
    /* min-width: 1200px; */
    justify-content: center;
    /* display: flex; */
}

body {
    font-family: 'VT323', monospace;
    /* color: #333; */
    padding: 35px;
    height: 100vh;
    width: 100%;
    line-height: 1.5em;
    background-color: #47BAE3;
    background-image: url('images/brief_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
}

.tabs {
    width: 40%;
    background-color: #C95828;
    border: 5px solid black;
    /* flex: 1; */
    /* float: left; */
}

#summary {
    position: absolute;
    top: 10vh;
    left: 5vw;
}

#comp1 {
    position: absolute;
    top: 10vh;
    left: 55vw;
}

#comp2 {
    position: absolute;
    top: 40vh;
    left: 5vw;
}

#goals {
    position: absolute;
    top: 110vh;
    left: 55vw;
}

#des_strategies {
    position: absolute;
    top: 140vh;
    left: 70px;
}

#int_strategies {
    position: absolute;
    top: 160vh;
    left: 55vw;
}

#exp_goals {
    position: absolute;
    top: 210vh;
    left: 5vw;
    width: 90%;
}

/* figcaption {
    text-align: center;
} */

img {
    justify-content: center;
}
