#game-container {
    width: 100%;
    max-width: 1366px;
    min-width: 1200px;
    justify-content: center;
}

body {
    font-family: 'VT323', monospace;
    padding: 35px;
    height: 100vh;
    width: 100%;
    line-height: 1.5em;
    background-color: #47BAE3;
    background-image: url('images/brief_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
}

.tabs {
    width: 40%;
    background-color: #C95828;
    border: 5px solid black;
    /* flex: 1; */
    /* float: left; */
}

#summary {
    position: absolute;
    top: 0;
    left: 30vw;
    font-size: 80px;
    justify-content: center;
}

#comp1 {
    position: absolute;
    top: 25vh;
    left: 5vw;
}

#comp2 {
    position: absolute;
    top: 25vh;
    left: 55vw;
}

#comp3 {
    position: absolute;
    top: 120vh;
    left: 30vw;
}

#goals {
    position: absolute;
    top: 110vh;
    left: 55vw;
}

#des_strategies {
    position: absolute;
    top: 140vh;
    left: 70px;
}

#int_strategies {
    position: absolute;
    top: 160vh;
    left: 55vw;
}

#exp_goals {
    position: absolute;
    top: 210vh;
    left: 5vw;
    width: 90%;
}

img {
    width: 30%;
    border: 5px solid black;
}

footer {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    /* top: 240vh; */
    top: 220vh;
    bottom: 0;
    width: 100%;
}

footer a {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    opacity: 1;
}

footer a:hover, a:active {
    color: yellow
}

