.portal-container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    justify-content: center;
    margin: 1em auto;
    padding-top: 2em;
    border: 1px solid white;
    font-family: 'Roboto Slab', serif;
    background-color: #FFE459;
    animation: animation0 5s ease-in-out infinite alternate;
}

@keyframes animation0 {
    from {
        background-color: #FFE459;
    }
    to {
        background-color: #C2F784;
    }
}

header {
    margin: 0 auto 2em auto;
}

header :hover {
    letter-spacing: 3px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#banner {
    width: 1100px;
    height: 250px;
    border: 5px black solid;
    background-image: url("images/DES157-CloudRainbow.gif");
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    /* background-color: #91D2E7; */
    position: relative;
    /* overflow: hidden; */
}

#banner:hover {
    margin: 0 auto;
    display: flex;
    background-image: url("images/DES157-Banner(4)-22.png");
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition-timing-function: ease-out;
}

#cloud {
    width: 100%;
    height: auto;
    position: absolute;
}

#cloud :hover {
    background-image: url("images/DES157-Banner(4)-22.png");
    width: 100%;
    height: auto;
    position: absolute;
}

/* #cloud1 {
    position: absolute;
    transform: scale(0.5);
    left: 0;
    top: 0;
}
#cloud2{
    transform: scale(0.5);
    left: 30px;
    top: 40px;
    position: absolute;
}
#cloud3 {
    transform: scale(0.5);
    left: 0px;
    top: 0px;
}
#cloud4 {
    transform: scale(0.5);
    left: 50px;
    top: 20px;
}
#cloud5 {
    transform: scale(0.7);
    left: 60px;
    top: 300px;
}
#tower {
    transform: scale(0.5);
    left: 70px;
    top: 20px;
} */

#name,
#course {
    text-align: left;
    font-weight: 600;
    font-size: medium;
}

#u {
    background-image: url(images/Sticky-01.png);
    height: 350px;
    background-position: center;
    background-size: cover;
}

#c {
    background-image: url(images/Sticky-02.png);
    height: 350px;
    background-position: center;
    background-size: cover;
}

#d {
    background-image: url(images/Sticky-03.png);
    height: 350px;
    background-position: center;
    background-size: cover;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

a:hover {
    letter-spacing: 3px;
    color: black;
}

#columns {
    display: flex;
}

#banner_bottom {
    width: 1300px;
    height: 250px;
    background: url("images/DES157-Banner-02.png");
    height: 250px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
}

#cow {
    animation: animation1 30s ease-in-out infinite;
    /* animation-duration: 10s; */
    /* animation-iteration-count: infinite; */
    position: relative;
    width: auto;
    height: '100px';
}

@keyframes animation1 {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 280px);
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
    padding-bottom: 2em;
}

main section {
    width: 33%;
    height: 550px;
    color: white;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 5em;
    font-size: medium;
}

main section:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    justify-content: space-between;
    display: flex;
}

footer a {
    text-align: center;
    font-size: large;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgb(143, 118, 86);
    color: black;
}

footer a:hover, a:active {
    background-color: #91D2E7;
    color: white
  }