.portal-container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    justify-content: center;
    margin: 1em auto;
    padding-top: 2em;
    border: 1px solid white;
    font-family: 'Roboto Slab', serif;
    background-color: #FFEF78;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    width: 1100px;
    height: 250px;
    border: 1.5px black solid;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
}

#banner_bottom {
    width: 1300px;
    height: 250px;
    /* border: 1px black solid;
    border-radius: 5px; */
    /* background-color: #91CD91; */
    background-image: url(images/DES157-Banner-02.png);
    height: 250px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
}

#name,
#course {
    text-align: left;
    font-weight: 400;
    font-size: small;
}

#columns {
    display: flex;
}

#cow {
    animation-name: animation1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: auto;
    height: '100px';
}

@keyframes animation1 {
    /* from {
        left: 0;
        background-color: indigo;
    }
    to {
        left: calc(100% - 30px);
        background-color: lightcoral;
    } */
    0% {
        left: 0px;
        /* background-color: indigo; */
    }
    50% {
        left: 500px;
    }
    100% {
        left: 1000px;
        /* background-color: lightcoral; */
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
    padding-bottom: 2em;
}

main section {
    width: 33%;
    border: 1px solid lightblue;
    margin: 0 1em;
    padding: 1em;
}

footer {
    justify-content: space-between;
    display: flex;
}

footer a {
    text-align: center;
}