.page-container {
    width: 100%;
    max-width: 1366px;
    min-width: 1366px;
    margin: auto;
    justify-content: center;
    padding-top: 0.5em;
    font-family: 'Fredericka the Great', cursive;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding-bottom: 2.0em;
}

header :hover {
    letter-spacing: 3px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

h4 {
    display: inline;
}

#name {
    float: left;
}

#course {
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    padding: 10px;
    height: 90vh;
    width: 100%;
}

.grid-item {
    background-color: #FFE699;
    background-image: url('./images/DES157-MadLibsComp(3)-02.png');
    background-position: center;
    background-size: cover;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    color: white;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #FFCCD2;
    border: 6px solid black;
    position: absolute;
    top: 50%;
    left: calc(1440px/2);
    transform: translate(-50%, -50%); 
    font-size: 30px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.ques {
    position: relative;
    top: 30%;
    left: 50%;
    width: 30%;
    line-height: 1.5em;
    height: 3em; 
    overflow: hidden;
    word-wrap: break-word;
    font-size: 0.7em;
}

.ans {
    position: relative;
    top: 40%;
    left: 15%;
}

.ques_cir {
    position: relative;
    top: 15%;
    left: 5px;
}

.ans_cir {
    position: relative;
    top: 20%;
    left: 5px;
}

input[type=text] {
    width: 20%;
    padding: 4px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid black;
    border-radius: 8px;
}

#uname {
    width: 47%;
}

input:focus { 
    background-color: #FFE699;
    border: 4px solid #36C87A;
    border-radius: 8px;
}

input:hover {
    background-color: #FFE699;
    border: 4px solid #29975c;
    border-radius: 8px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFE699;
    transition: all 1s ease;
    background-image: url('images/DES157-Madlibs.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#overlay article {
    position: absolute;
    top: 40%;
    left: 63%;
    box-sizing: border-box;
    padding: 20px;
    width: 30vw;
    height: 50vh;
    background-color: rgba(0,0,0,0);
    font-size: 25px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.submit {
    font-family: 'Fredericka the Great', cursive;
    font-size: medium;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.submit:hover {
    background-color: #FFE699;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.close {
    position: relative;
    top: 62vh;
    left: 12%;
    font-family: 'Fredericka the Great', cursive;
    font-size: medium;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid black;
    border-radius: 30px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.close:hover {
    background-color: #FFE699;
    color: black;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

img {
    height: 30px;
    width: 30px;
}

footer {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
}

footer a {
    text-align: center;
    font-size: large;
    font-weight: 800;
    letter-spacing: 2px;
    color: black;
}

footer a:hover, a:active {
    background-color: #36C87A;
}